body {
    background-color: lightgray;

}
h1{
    text-align: center;
    text-shadow: 20px 12px 2px #333;
}
nav {
    text-decoration: none;
    list-style-type: none;
    background-color: darkgrey;
    
    margin-right: 20px;
    
    position:absolute;
    height: 500px;
    width: 10%;
    height: 100%;
       
}
.navigation {
   
    background-color: white;
    text-align: center;
    padding: 8px;
    margin: 10px;
    width: 80px;
    display:block;
    border-radius:30%;
    
    
    
}
a{
    text-decoration:none;
    color: black;
}
img {
    display: block;
    width: 90%;
    height: 90%;
    padding: 5%;
    
}
.picture {
    width: 25%;
    background-color: darkgrey;
    height: 500px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 180px;
    
    
}
.pictures {
    width: 25%;
    background-color: darkgrey;
    height: 500px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.intro {
    width: 60%;
    background-color: darkgrey;
    height: 500px;
    float: right;
    
}
.intropara{
    font: normal 30px arial;
    padding: 5%;
}
.about {
    background-color: darkgrey;
    
    width: 78%;
    float: left;
    margin-left: 180px;
}
.aboutpara {
    font: normal 30px arial;
    padding: 5%;
    
}