body {
    background-color: lightgray;

}
h1{
    text-align: center;
    text-shadow: 20px 12px 2px #333;
}
nav {
    text-decoration: none;
    list-style-type: none;
    background-color: darkgrey;
    text-align: center;
    margin-right: 20px;
    padding: 15px;
    float: left;
    height: 500px;
    
    
       
}
.navigation {
    text-decoration: none;
    list-style-type: none;
    background-color: white;
    text-align: center;
    padding: 8px;
    margin: 10px;
    width: 80px;
    display:block;
    border-radius:30%;
    
    
}
img {
    display: block;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.picture {
    width: 25%;
    background-color: darkgrey;
    height: 500px;
    float: left;
}